[user]
    name = Geoffrey Clark
    email = g.clark@samsung.com
[core]
    editor = vim
[alias]
co = checkout
cp = cherry-pick
cam = commit -am
p = pull
squash = merge --squash
st = status
df = diff
b = branch
r = reset
lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
